        /* *, html, body {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        :root {
            --px-20: 20px;
            --px-10: 10px;
            --px-14: 14px;
            --px-13: 13px;
            --px-80: 100px
        }
        body {
            background-color: #F4F4F4;
        } */
        nav {
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: 10px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 10px;
            max-width: 90%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            z-index: 999;
            transition: all .3s ease-in-out;
        }
        nav .first-span {
            margin-left: 10px;
        }
        nav ul {
            list-style-type: none;
        }
        .flex1 {
            flex: 1 1;
        }
        nav li {
            padding: var(--px-10) var(--px-20);
            margin: var(--px-10);
            border-radius: 0px;
        }
        nav li:hover {
            border-radius: 10px;
            transition: all .2s ease-in-out;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .active {
            background:  var(--cl-light-box-shadow);
            border-radius: 10px;
            transition: all .2s ease-in-out;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        }
        nav li a {
            color: cadetblue;
        }
        .row {
            display: flex;
        }
        .row-wrap {
            display: flex;
            flex-wrap: wrap;
        }
        .row-wrap .left-side {
            width: 50%;
        }
     
        a {
            text-decoration: none;
        }
        @media (max-width: 768px) {
            :root {
                --px-20: 15px;
                --px-10: 7px;
                --px-80: 60px;
            }
            nav {
                margin: 0;
                margin-bottom: 10px;
            }
            .introduction {
                flex-direction: column-reverse;
            }
            .introduction .right-side {
                max-width: 100% !important;
            }
            .row-wrap .left-side {
                width: 100%;
            }
            .container-info-user .info-user {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
        }

        main {
            padding: var(--px-20);
            margin-bottom: 80px; /* Giữ khoảng cách với nav */
            background-color: var(--cl-light-bg);
        }
        .box {
            background: var(--cl-light-1);
            border-radius: 10px;
            padding: var(--px-10);
            margin: var(--px-10);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 100%;
        }
        .container-search {
            color: var(--cl-dark-2);
            flex: 1;
        }
        .container-search input {
            border: none;
            font-size: var(--px-16);
            width: 100%;
            background: transparent;
            color: var(--cl-dark-2);
            margin-left: 10px;
        }
        .container-search input:focus-visible {
            outline: none;
        }      
        @media (max-width: 768px) {
            :root {
                --px-20: 15px;
                --px-10: 7px;
                --px-80: 60px;
            }
     
            .left-side {
                flex: auto;
                width: 100%;
            }
            .container-img {
                max-width: 100%;
            }
            .container-img .card {
                margin: 10px !important;
            }
            main {
                flex-direction: column;
                padding: 0;
            }
            .label-input label {
                top: 23px
            }
        }
        .box-sticky {
            position: sticky;
            position: -webkit-sticky;
            top: 10px;
            z-index: 2;
            border-radius: 50px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            background-color: var(--cl-light-4);
        }
        .box-sticky .add-user-js{
            width: 44px;
            height: 44px;
        }
        h3 {
            border-left: 4px solid cadetblue;
            padding-left: 5px;
            color: var(--cl-dark-2);
        }
        .card {
            background: var(--cl-light-3);
            border-radius: 10px;
            padding: var(--px-20);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-bottom: var(--px-20);
            transition: transform 0.2s, box-shadow 0.2s;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        }

        .card h3 a {
            color: #495057;
            text-decoration: none;
        }

        .card p {
            color: var(--cl-dark-1);
        }
        .container-user{
            margin-top: 30px;
        }
        .container-user .user img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 5px;
            object-fit: cover;
        }
        .container-user span.material-symbols-outlined {
            color: blue;
            font-size: 16px;
            margin-left: 3px;
        }
        .container-user h3 {
            margin-bottom: 10px;
        }
        .container-user h4 {
            color: var(--cl-dark-2);
        }
        .center-x {
            display: flex;
            align-items: center;
        }
        .container-user .nganh p {
            font-size: var(--px-13);
            background-color: cadetblue;
            color: white;
            padding: 5px;
            border-radius: 7px;
            margin-right: 5px;
        }
        .container-user > div {
            flex: 1 1 200px;
        }
        .container-SV .code {
            font-size: var(--px-12);
            color: rgb(145, 145, 145);
        }
        .container-GV .nganh{
            margin-top: 5px;
            p{
                font-size: 10px;
            }
        }
        .rating .star {
            color: gray; 
        }

        .rating .star {
            color: gray; /* Màu mặc định */
        }

        .rating .star[data-value="1"],
        .rating .star[data-value="2"],
        .rating .star[data-value="3"],
        .rating .star[data-value="4"],
        .rating .star[data-value="4.5"] {
            color: gold; /* Màu vàng cho 4,5 sao */
        }
        main {
            overflow-x: hidden;
        }
        .container-info-user .info-user-GV img {
            width: 100px;
            height: 100px;
            border-radius: 20px;
        }
        .container-info-user .info-user-GV {
            margin: 10px;
            margin-left: 0;
        }
        .container-info-user label {
            font-size: var(--px-13);
            color: var(--cl-dark-1);
        }
        .container-info-user input:focus-visible {
            background-color: cadetblue;
            color: white;
        }
        .container-info-user p {
            background-color: cadetblue;
            color: white;
            width: min-content;
            font-size: var(--px-13);
            padding: 5px;
            border-radius: 7px;
            display: flex;
            gap: 5px;
            justify-content: space-between;
            align-items: center;
        }
        .container-info-user p span {
            font-size: var(--px-13);
            color: white;
            margin: 0;
            background-color: darkred;
            border-radius: 50%;
            cursor: pointer;
        }
        .container-info-user .add-nganh span {
            font-size: var(--px-13);
            color: white;
            margin-left: 4px;
            background-color: cadetblue;
            border-radius: 50%;
            cursor: pointer;
            padding: 3px;
        }
        .container-info-user .input-add-nganh {
            animation: showi .2s ease-in-out;
        }
        @keyframes showi {
            0% {
                opacity: 0;
                transform: scaleY(0);
            }
            100% {
                opacity: 1;
                transform: scaleY(1);
            }
        }
        #info-user-nganh:checked ~ .default-input {
            display: block;
        }
        .ctn-btn .ban-account {
            background-color: darkred;
        }
        .lock-account {
            color: rgb(199, 0, 0) !important;
            display: block;
            text-align: end;
            margin-top: 5px;
        }
        main {
            height: 100vh;
        }